@import "../../assets/sass/utils";

$hover-color: rgb(66, 243, 66);

@mixin base {
  position: absolute;
  bottom: 300px;
  left: 75%;
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
  @include fade_animation;

  @media screen and (min-width: 1024px) {
    &:hover {
      transform: scale(1.5);
    }
  }
}

@mixin selected {
  svg {
    color: $hover-color;
  }

  span {
    color: $hover-color;
  }
}

@media screen and (min-width: 414px) {
  .gallery__icon-like {
    @include base;

    svg {
      color: white;
    }

    span {
      display: block;
      color: white;
    }

    &--liked {
      @include base;
      @include selected;

      span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .gallery__icon-like {
    grid-area: like;
    padding: 10px;

    &--liked {
      grid-area: like;
      padding: 10px;
      @include selected;
    }
  }
}
