@import "../../assets/sass/utils";

$hover-color: rgb(66, 243, 66);

%base {
  position: absolute;
  bottom: 330px;
  left: 75%;
  width: 50px;
  cursor: pointer;
  @extend %fade_animation;
}

%selected {
  svg {
    color: $hover-color;
  }

  span {
    display: block;
    color: $hover-color;
  }
}

.gallery__icon-like {
  @extend %base;

  svg {
    color: white;
  }

  span {
    display: block;
    color: white;
  }

  &:hover {
    @extend %selected;
  }

  &--liked {
    @extend %base;
    @extend %selected;
  }
}
