@import "../../assets/sass/utils";

.image {
  width: 90%;
  justify-self: center;
  background-color: white;
  border: 1px solid #e2e2e2;
  @extend %fade_animation;

  &__container {
    height: 300px;
    -webkit-transition: 0.2s all;
    &:hover {
      -webkit-filter: brightness(50%);
    }
  }

  &__title {
    padding-bottom: 15px;
    span {
      padding-right: 5px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 80%;
  }
}
