.image {
    width: 90%;
    justify-self: center;
    background-color: white;
    border: 1px solid #e2e2e2;
  }

  .image__container {
    height: 300px;
  }

  .image__title {
      padding-bottom: 15px;
      span {
          padding-right: 5px;
      }
  }
