.gallery {
  display: grid;
  grid-area: g;
  grid-template-areas:
    "h h"
    "c c";
}

.content {
  grid-area: c;
  display: grid;
  grid-template-areas: "img img img img";
}

@media screen and (min-width: 1617px) {
    .content {
        grid-area: c;
        display: grid;
        grid-template-areas: "img img img img";
        grid-gap: 15px;
      }
  }
  
  @media screen and (min-width: 767px) and (max-width: 1617px) {
    .content {
        grid-area: c;
        display: grid;
        grid-template-areas: "img img";
        grid-gap: 15px;
      }
  }
  
  @media screen and (max-width: 767px) {
    .content {
        grid-area: c;
        display: grid;
        grid-template-areas: "img";
        grid-gap: 35px;
      }
  }
