.gallery {
  display: grid;
  grid-area: g;
  grid-template-areas:
    "h h h h"
    "c c c c"
    ". l l .";
}

.gallery__content {
  background-color: #f6f6f6;
  padding: 30px;
}

.gallery__element {
  display: grid;
  position: relative;
}

.gallery__loader {
  grid-area: l;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  &:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: gallery__loader 1.2s linear infinite;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ". . . .";
    grid-row-gap: 15px;
  }
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ". .";
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 414px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ".";
    grid-gap: 35px;
  }
}

@keyframes gallery__loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
