.gallery {
  display: grid;
  grid-area: g;
  grid-template-areas:
    "h h h h"
    "c c c c";
}

.gallery__content {
    background-color: #F6F6F6;
    padding: 30px;
}

@media screen and (min-width: 1024px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ". . . .";
    grid-row-gap: 15px;
  }
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ". .";
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 414px) {
  .gallery__content {
    grid-area: c;
    display: grid;
    grid-template-areas: ".";
    grid-gap: 35px;
  }
}
